/* Element selectors */
body {
    font-family: 'Arial', sans-serif;
}
button {
    font-size: 16px;
    color: white;
    margin: 10px;
    border-radius: 10px;
    background-color: purple;
}
#view-high-scores {
    height: 125px;
    width: 50%;
    overflow: hidden;
    float: left;
    /* text-align: left; */
}
#countdown {
    height: 125px;
    width: 50%;
    float: left;
    text-align: right;
}
#all-done-label, #name {
    height: 25px;
    width: 33%;
    margin-right:15px;
}
#question {
    height: 150px;
    text-align: left;
    margin: 10px 250px 10px 350px;
    clear:both;
}
#mult-choice-answers {
    display: flex;
    justify-content: left;
    flex-direction: column;
    height: 200px;
    margin: 10px 250px 10px 350px;
}
#choice-result {
    height: 50px;
    margin: 10px 250px 10px 350px;
    text-align: left;
    border-top: solid lightgray;
    color: lightgray;
}

#delete-this-selector {
    color: rgb(248, 87, 240);
    color: rgb(173, 117, 173);
    color: rgb(212, 193, 212);
    color: lightgray;
    font-style: italic;
}

/* Media queries
@media screen and (max-width: 1000px) {
    #mult-choice-answers {
        margin: 10px 500px 10px 650px;
        margin-left: 
    }
}

@media screen and (max-width: 750px) {
    #mult-choice-answers {
        margin: 10px 400px 10px 400px;
    }
}

@media screen and (max-width: 500px) {
    #mult-choice-answers {
        margin: 10px 300px 10px 250px;
    }
} */